.tituloProductos{
    text-align: center;
    color: white;
    margin-top: 2rem;
    font-size: 3rem;
}

/*

rem = 16px => 2rem = 2 * rem = 32px

0.5rem
1rem
1.5rem
2rem

1.77777rem NUNCA VOY A USAR

*/

