.contenedorFacturas{
    width: 1200px;
    padding: 3rem 0rem;
    margin: auto;
}

.contenedorFacturas h1{
    width: 100%;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 3rem;
}